{% extends "layout.html" %}

{% block content %}
    <h1>What is an eclipse?</h1>
        <p>An eclipse occurs when one object gets in between you and another object 
        and blocks your view. From Earth, we routinely experience two kinds of eclipses: an eclipse of the Moon and an eclipse of the Sun.</p>
        <p>Sometimes, as the Earth orbits the Sun, it comes between the Sun and the Moon. 
        When this happens, the Earth throws a dark shadow across the Moon. This is known as an eclipse of the Moon, or a lunar eclipse.</p>
    <p>...and giggidy</p>
{% endblock %}