{% extends "layout.html" %}

{% block content %}
    <h1>Welcome!</h1>
    <p>Our solar neighborhood is an exciting place. The Solar System is full of planets, 
    moons, asteroids, comets, minor planets, and many other exciting objects. Did you 
    know there is an explosive moon that orbits the planet Jupiter, or that there 
    are gigantic canyons and deserts on Mars?</p>
    <p>Did you know that moons are also called satellites?</p>

    <p>Have fun exploring my site.</p>
{% endblock %}